@font-face {
  font-family: "iconfont"; /* Project id 3987371 */
  src: url('iconfont.woff2?t=1680177114440') format('woff2'),
       url('iconfont.woff?t=1680177114440') format('woff'),
       url('iconfont.ttf?t=1680177114440') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhi:before {
  content: "\e608";
}

.icon-sousuo:before {
  content: "\e665";
}

.icon-M_wenzi:before {
  content: "\e75e";
}

.icon-tupian:before {
  content: "\e666";
}

.icon-shezhi:before {
  content: "\e8b8";
}

.icon-xingxing:before {
  content: "\e627";
}

.icon-bianji1:before {
  content: "\e61a";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-biji:before {
  content: "\e60e";
}

.icon-biaoqian:before {
  content: "\e661";
}

.icon-bianji:before {
  content: "\e600";
}

.icon-fabu:before {
  content: "\e63c";
}

.icon-geren:before {
  content: "\e607";
}

.icon-shouye:before {
  content: "\e659";
}

.icon-xinxiang-xiankuang:before {
  content: "\e60d";
}

.icon-fanhui:before {
  content: "\e61e";
}

